
<div class="panel panel-default panel-black">
    <div class="panel-heading">Меню</div>
    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "list-group-item list-group-item-action" })
    @Html.ActionLink("Singers", "Index", "Singers", null, new { @class = "list-group-item list-group-item-action" })
    @Html.ActionLink("Albums", "Index", "Albums", null, new { @class = "list-group-item list-group-item-action" })
    @Html.ActionLink("Tracks", "Index", "Songs", null, new { @class = "list-group-item list-group-item-action" })
    @Html.ActionLink("Genres", "Index", "Genres", null, new { @class = "list-group-item list-group-item-action" })
</div>