@{
    ViewBag.Title = "Delete Album";
}

@model MvcPL.Models.AlbumViewModel

@section main{
    <div class="col-md-8 col-md-offset-2">
        <h3>Delete Album?</h3>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <h3><b>@Model.Album.Name</b></h3>
            <table class="table">
                <tr>
                    <td rowspan="5">
                        <img src="~/File/GetFile/0@{@Model.Album.ImageId}" class="img" />
                    </td>
                    <td>
                        <b>Singer: </b>
                    </td>
                    <td>
                        @Html.ActionLink(Model.Album.SingerName, "Index", "Singer", new { Id = Model.Album.SingerId }, new { @class = "panel-title" })
                    </td>
                </tr>
                @if (Model.Album.DateOut != null)
                {
                    <tr>
                        <td>
                            <b>Date out: </b>
                        </td>
                        <td>
                            @Model.Album.DateOut.Value.ToString("D")
                        </td>
                    </tr>
                }
                <tr>
                    <td>
                        <b>Genre: </b>
                    </td>
                    <td>
                        @Model.Album.GenreName
                    </td>
                </tr>
                @if (!string.IsNullOrEmpty(Model.Album.Description))
                {
                    <tr>
                        <td>
                            <b>Description: </b>
                        </td>
                        <td>
                            @Model.Album.Description
                        </td>
                    </tr>
                }
            </table>

            <div class="form-group row">
                <table style="width:100%">
                    <tr>
                        <td>
                            @Html.ActionLink("Cancel", "Index", "Albums", null, new { @class = "btn btn-default btn-block form-btn" })
                        </td>
                        <td>
                            <input type="submit" class="btn btn-danger btn-block form-btn" value="Delete" />
                        </td>
                    </tr>
                </table>
            </div>

            @Html.ValidationSummary(false)
        }
    </div>
}
